:root {
    --color-white: #fff;
    --color-black: #444444;
    --color-blue: #0077ff;
    --color-green: #06bf00;
    --color-red: #ff0000;
    --color-orange: #FF9F0F;
    --color-light-black: #999999;
    --color-border: rgba(128, 128, 128, 0.434);

    --fs-16: 16px;
    --fs-14: 14px;
    --fs-12: 12px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--color-black);
}

a {
    text-decoration: none;
    color: var(--color-black);
}
a:hover {
    text-decoration: none;
    color: var(--color-black);
}
input[type='text'],
input[type='password'],
textarea,
select {
    outline: none;
}
*:focus {
    box-shadow: none !important;
    outline: none;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    border-bottom: solid 1px var(--color-border);
}

/*** Main ***/
.main {
    margin-top: 30px;
}
.sidebar {
    height: max-content;
    min-width: 250px;
    border: solid 1px var(--color-border);
    padding: 15px;
    border-radius: 20px;
    margin-right: 15px;
}
.sidebar__content {
    display: flex;
    margin-bottom: 20px;
}
.active {
    border-bottom: solid 1px var(--color-blue);
}
.sidebar__active, .active p {
    color: var(--color-blue);
}

/* Content */
.title {
    font-size: var(--fs-14);
}
.title__sub {
    font-size: var(--fs-12);
}

.day__input {
    width: 100px;
    padding: 5px 10px;
    border-radius: 8px;
    border: solid 1px var(--color-border);
    font-size: var(--fs-14);
}
.content__popUp {
    min-width: auto;
    border: solid 1px var(--color-border);
    border-radius: 8px;
}
.popUp__content {
    min-width: auto;
    border-radius: 8px;
    padding: 0;
    overflow: hidden;
}
.popUp__title {
    font-size: var(--fs-14);
}

.content__main {
    height: 100%;
    border: solid 1px var(--color-border);
    border-radius: 10px;
}
.content__main-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
    border-bottom: solid 1px var(--color-border);
}
.content__status {
    height: max-content;
    border: solid 1px var(--color-border);
    border-radius: 10px;
}

.tab__table {
    margin-top: 20px;
}
.table__title {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
}
.table__title:first-child,
.table__content:first-child {
    text-align: start;
    padding-left: 20px;
}
.table__content {
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    color: var(--color-blue);
}
.table__header {
    border-bottom: solid 1px var(--color-light-black);
}

/* .tab__table-bottom {
    margin: 18px 12px;
} */

.btn__upload {
    display: flex;
    align-items: center;
    margin: 15px 0;
    border-radius: 20px;
    background: var(--color-blue);
    color: var(--color-white);
}
.search__input {
    width: 400px;
    font-size: var(--fs-14);
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px var(--color-border);
}
.search__btn {
    padding: 10px;
    font-size: var(--fs-14);
    background: var(--color-blue);
    color: var(--color-white);
}
.form__input {
    font-size: var(--fs-14);
    padding: 7px;
    border-radius: 5px;
    border: solid 1px var(--color-border);
}
.add__btn {
    padding: 10px;
    font-size: var(--fs-14);
    border:solid 1px var(--color-blue);
    color: var(--color-blue);
}

.filter__icon {
    color: var(--color-light-black);
}

.pagination__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 5px;
}


/* Public */

.publisher__title {
    font-size: var(--fs-16);
}
.publisher__btn {
    background: var(--color-blue);
    color: var(--color-white);
    font-size: var(--fs-14);
}
.publisher__btn-detail {
    background: var(--color-orange);
    color: var(--color-white);
    font-size: var(--fs-14);
    padding-top: 7px;
    padding-bottom: 7px;
}
